//font-family: 'Cormorant', serif;
//
//font-family: 'Josefin Sans', sans-serif;
//
//font-family: 'Playfair Display', serif;
@import "common";
@import "navbar";
@import "top-page";
@import "about";
@import "contact";
@import "offer";
@import "cooperation";
@import "career";
@import "form";
@import "footer";

svg {
  height: 0;
  display: none;
}

.list {
   padding: 40px 140px 60px;
   list-style-type: none;

   li {
      font-size: 20px;
      padding: 20px 0;
      color: white;
      list-style-type: square;

      //&:before {
      //  content: '';
      //  margin-right: 10px;
      //  background-image: url();
      //}
   }
}
