//font-family: 'Cormorant', serif;
//font-family: 'Josefin Sans', sans-serif;
//font-family: 'Playfair Display', serif;

@import "common";
@import "navbar";
@import "top-page";
@import "about";
@import "contact";
@import "offer";
@import "cooperation";
@import "career";
@import "form";
@import "footer";
@import 'script-classes';

svg {
  height: 0;
  display: none;
}

.app {
  margin: 0 auto;
  max-width: 1920px;
}


.list {
  padding: 10px 30px;
  list-style-type: none;

  li {
    font-size: 14px;
    padding: 10px;
    color: white;
    list-style-type: square;
  }

  @media screen {
    @media (min-width: $media-br-1) {

      padding: 40px 140px 60px;
      li {
        font-size: 20px;
        padding: 20px 0;
      }
    }
  }

}
