@import "mixins";

.contact-details {
  @include section-body($red-text);

  .section-title {
    @include section-title(white);
  }

  .info-wrapper {
    @include info-wrapper($red-text, white);
    justify-content: space-between;
  }

  .image-container {
    @include image-container(white);
  }

  .img-decoration {
    border: 50px solid white;
    height: 100%;
    width: 100%;
  }

  .details {
    padding-top: 140px;
  }


  .address-info {
    display: block;
    width: 100%;
    font-size: 24px;
    color: white;
    padding: 0 20px;


    @media (min-width: $media-br-2) {
      font-size: 20px;
      padding: 10px 0 10px 140px;
    }


  }

}
