@import "mixins";

.section-gallery {
  //@include section-body($red-text);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: $red-text;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  position: relative;
  overflow: hidden;
  //min-height: 700px;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 2px;
    background-color: white;
    width: 100%;
  }

  .section-title {
    @include section-title(white);
  }

  .text {
    @include par-text(white);
  }

  .slider {
    position: relative;
    margin: 0 0 20px 0;


    @media (min-width: $media-br-2) {
      margin: 0 60px;
      max-width: 640px;
    }


  }

  .image-slider {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    padding: 30px 5px;

    @media (min-width: $media-br-2) {
      padding: 20px 80px 80px 20px;
      flex-direction: row;
    }

    &.hide {
      display: none;
    }

  }

  .thumbnails {

    display: none;


    @media (min-width: $media-br-1) {
      user-select: none;
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      justify-content: center;
      column-gap: 5px;
      row-gap: 5px;
      max-width: 500px;
      flex-wrap: wrap;
      align-content: center;
      flex: 6
    }




    .image-thumbnail {
      width: 60px;
      height: 90px;
      padding: 2px;
      border: 1px dotted transparent;
      cursor: pointer;

      &:hover {
        background-color: rgba(255, 255, 255, 0.2);
      }

      &.selected {
        border: 1px dashed white;
        background-color: rgba(255, 255, 255, 0.2);
      }

    }

  }

  .arrow-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 40%;
    background-color: transparent;
    border: 10px solid transparent;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
    z-index: 45;

    @media (min-width: $media-br-1) {

      &:hover {
        background-color: rgb(231, 183, 183);
        border: 10px solid rgb(241, 232, 232);

        .arrow {
          stroke: red;
        }
      }
    }

    &.left {
      left: 0;
      padding-right: 5px;
    }

    &.right {
      right: 0;
      padding-left: 5px;
    }

  }

  .arrow {
    stroke: white;
    stroke-width: 2;
  }


  .image-slide {
    display: none;
    margin: 0 auto;
    width: 70%;
    height: auto;
    padding: 2px;
    border: 1px dashed white;


    @media (min-width: $media-br-2) {
      max-width: 420px;
    }


    &.show {
      display: block;
      margin: 0 auto;
      animation-name: image-Elem;
      animation-duration: 10s;
      animation-iteration-count: 1;
      animation-fill-mode: both;
      backface-visibility: hidden;
    }

  }
}

@keyframes image-Elem {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

