$red-text: rgba(213, 50, 43, 1);

@mixin section-title($color) {
  font-size: 60px;
  font-weight: lighter;
  color: $color;
}

@mixin section-body($background-color, $border-color) {
  background-color: $background-color;
  border-bottom: 2px solid $border-color;
}

@mixin section-subtitle($color) {
  color: $color;
  font-size: 40px;
  font-style: italic;
  font-weight: lighter;
  padding: 40px 0 20px;
}

@mixin par-text($color){
      color: $color;
      font-size: 20px;
      line-height: 1.5;
      padding: 20px 80px;
      max-width: 700px;
      text-align: justify;
}
