$red-text: rgba(213, 50, 43, 1);
$media-br-1: 820px;
$media-br-2: 1100px;

@mixin section-title($color) {
  font-size: 30px;
  padding-top: 20px;
  padding-left: 20px;
  font-weight: lighter;
  color: $color;

  @media (min-width: $media-br-2) {
    font-size: 60px;
    padding-top: 20px;
    padding-left: 100px;
  }


}

@mixin section-body($background-color) {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: $background-color;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  position: relative;

  @media (min-width: $media-br-2) {
    flex-direction: row;
  }


}

@mixin section-subtitle($color) {
  color: $color;
  font-size: 20px;
  font-style: italic;
  font-weight: lighter;
  padding: 20px 0 20px 20px;

  @media (min-width: $media-br-2) {
    font-size: 40px;
    padding: 40px 0 20px 100px;
  }

}

@mixin info-wrapper($color,$color2) {
  background-color: $color;
  display: flex;
  flex-direction: column;
  flex: 6;
  padding-bottom: 100px;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 2px;
    background-color: $color2;
    width: 100%;
  }
}

@mixin img-decoration($color) {

  display: block;
  width: 250px;
  height: auto;
  padding: 4px;

  @media (min-width: $media-br-1) {
    width: 370px;
  }


  border: 1px solid $color;
  margin: 100px 0;
}

@mixin image-container($color) {
  display: flex;
  flex: 6;
  align-items: center;
  justify-content: center;
  background-color: $color;

}

@mixin par-text($color) {
  color: $color;
  font-size: 14px;
  padding: 10px 30px;
  line-height: 1.5;

  max-width: 700px;
  text-align: justify;

  @media (min-width: $media-br-2) {
    font-size: 20px;
    padding: 20px 120px;
  }


}
