$red-text: rgba(213, 50, 43, 1);

@mixin section-title($color) {
  font-size: 60px;
  padding-top: 20px;
  padding-left: 100px;
  font-weight: lighter;
  color: $color;
}

@mixin section-body($background-color) {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: $background-color;
  display: flex;
  flex-wrap: wrap;
  align-content: stretch;
  align-items: stretch;
}

@mixin section-subtitle($color) {
  color: $color;
  font-size: 40px;
  font-style: italic;
  font-weight: lighter;
  padding: 40px 0 20px 100px;
}

@mixin info-wrapper {
    display: flex;
    flex-direction: column;
    flex: 6;
    padding-bottom: 100px;
}

@mixin img-decoration($color) {
  display: block;
  width: 350px;
  height: auto;
  padding: 4px;
  border: 1px solid $color;
  margin: 100px 0;
}

@mixin image-container($color) {
  display: flex;
  flex: 6;
  align-items: center;
  justify-content: center;
  background-color: $color;
}

@mixin par-text($color) {
  color: $color;
  font-size: 20px;
  line-height: 1.5;
  padding: 20px 120px;
  max-width: 700px;
  text-align: justify;

}
