@import "mixins";

.navbar {
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: $red-text;
  padding: 20px;
  z-index: 50;
  width: 100%;
  max-width: 1920px;
  align-items: center;
  transition-duration: 0.5s;
  border-bottom: 1px solid transparent;

}

.logo-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  column-gap: 10px;
  align-items: center;
}

.logo-img {
  height: 80px;
  width: auto;
  display: block;
  transition-duration: 0.5s;
}

.logo-company-name {

  font-family: 'Josefin Sans', sans-serif;
  font-weight: bold;
  font-size: 20px;
  padding-top: 10px;
  text-transform: uppercase;
  color: white;

  @media (min-width: $media-br-2) {
    font-size: 35px;
  }


}

.navigation {
  align-items: center;
  display: flex;
  flex-direction: row;
  position: relative;
}

.navbar-menu {
  display: none;
  overflow: hidden;
  flex-flow: column;
  list-style-type: none;
  position: absolute;
  z-index: 100;
  box-sizing: border-box;
  background-color: $red-text;
  top: 100%;
  width: 100%;
  left: 0;
  @media screen {

    @media (min-width: $media-br-1) {
      z-index: auto;
      width: auto;
      height: auto;
      top: auto;
      left: auto;
      display: flex;
      position: relative;
      flex-flow: row;
      align-items: center;
      justify-content: flex-end;
    }
  }


  .menu-item {
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
    padding: 10px 10px;


    @media screen {

      @media (min-width: $media-br-1) {
        margin: 0 10px;
        border: 0;
        padding: 0;
      }
    }

  }

  .menu-link {
    color: white;
    display: block;
    text-decoration: none;
    font-size: 16px;

    &:after {
      background-color: white;
      content: "";
      display: block;
      height: 3px;
      margin-top: 3px;
      transition-duration: 0.5s;
      width: 0;
    }

    &:hover {
      &:after {
        width: 100%;
      }
    }


    @media screen {
      @media (min-width: $media-br-2) {
        font-size: 18px;
      }
    }

  }

}

.menu-button {
  display: block;
  width: 30px;
  height: 30px;
  cursor: pointer;

  @media screen {
    @media (min-width: $media-br-1) {
      display: none;
    }
  }

}
