@import "mixins";

.offer-section {
  @include section-body(white,$red-text);
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  align-content: stretch;
  align-items: stretch;

  .section-title {
    @include section-title($red-text);
  }

  .section-subtitle {
    @include section-subtitle($red-text);
  }

  .text {
    @include par-text($red-text);
  }

  .section-title {
    @include section-title($red-text);
  }



  .image-container {
    display: flex;
    flex: 6;
    align-items: center;
    justify-content: center;
    background-color: $red-text;
  }

  .info-wrapper {
    display: flex;
    flex-direction: column;
    flex: 6;
    padding: 20px 0 100px 100px;
  }

  .img-decoration {
    display: block;
    width: 350px;
    height: auto;
    padding: 4px;
    border: 1px solid $red-text;
  }


}